body{
    background-color:rgb(230, 228, 228);
orientation: landscape;}
img{
    width:150px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.admission{
    color:red;
    text-align:center;
    font-family:sans-serif;
    margin-top:-2px;}
section{
    background-color:white;
    height:400px;
    width:300px;
    margin-left:500px;
    border-radius:5px;
    margin-top:20px;
    padding:20px;}

    input[type="text"]{
        background-color:transparent;
        padding:5px;
        border:1px solid grey;
        border-radius:5px;
        width:280px;
    
    
    }
    input[type="submit"]{
        background-color:goldenrod;
        color:black;
        margin-top:20px;
        border-radius:3px;
        text-align:center;
        cursor:pointer;
        width:120px;
        font-weight:bold;
        padding:8px;
        border:1px solid goldenrod;
    } 
    .already{
        color:red;
        margin-left:140px;
        margin-top:-30px;
    }
    .login{text-decoration:none;
    color:red;}
    .support{
        color:rgb(30, 180, 230);
        text-decoration:none;
    }
    @media(max-width:450px){
        body{
            background-color:rgb(230, 228, 228);
        orientation: landscape;}
        img{
            width:150px;
            height:100px;
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
        .admission{
            color:red;
            text-align:center;
            font-family:sans-serif;
            margin-top:-2px;}
        section{
            background-color:white;
            height:400px;
            width:260px;
            margin-left:20px;
            border-radius:5px;
            margin-top:20px;
            padding:20px;}
        
            input[type="text"]{
                background-color:transparent;
                padding:5px;
                border:1px solid grey;
                border-radius:5px;
                width:250px;
            
            
            }
            input[type="submit"]{
                background-color:goldenrod;
                color:black;
                margin-top:20px;
                border-radius:3px;
                text-align:center;
                cursor:pointer;
                width:120px;
                font-weight:bold;
                padding:8px;
                border:1px solid goldenrod;
            } 
            .already{
                color:red;
                margin-left:140px;
                margin-top:-30px;
            }
            .login{text-decoration:none;
            color:red;}
            .support{
                color:rgb(30, 180, 230);
                text-decoration:none;
            }
    }